@media screen and (max-width: 900px) and (orientation: landscape) {
  .btn-landscape {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    font-size: 0.75rem !important;
  }
}
